{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":0,"position":0,"stack":[[{"start":{"row":30,"column":0},"end":{"row":31,"column":0},"action":"insert","lines":["secret/",""],"id":2}]]},"ace":{"folds":[],"scrolltop":271.5,"scrollleft":0,"selection":{"start":{"row":31,"column":0},"end":{"row":31,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":21,"state":"start","mode":"ace/mode/ini"}},"timestamp":1723686762638,"hash":"abd1c87fcd5252b3002670e93874e00637fddff2"}